
//About Mr Mahir
.about-mrmahir-head{
    h3{
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: -187px;
    }

    .inner-detail-mrmahir{
        background-color: lightgray;
        p{
            text-align: center;
            padding: 224px 12px;
            padding-bottom: 22px;
        }
    }

    .about-thumbnail{
        img{
            width: 80%;
            height: 300px;
            border-radius: 10px;
            display: block;
            margin: 0 auto;
            position: relative;
            bottom: -196px;
        }
    }


}
//end